<% provide(:title, "About") %>

<h1>O mnie</h1>
<p>
  <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> to
  <a href="https://www.railstutorial.org/book">książka</a> i
  <a href="http://screencasts.railstutorial.org/">webinarium</a>
  do nauki
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  To przykładowa apka z tego kursu.
</p>
