<% provide(:title, "Help") %>
<h1> Pomoc </h1>
<p>
Po ogólną pomoc otwórz
<a href="https://www.railstutorial.org/help">tę</a>
stronę.
Po pomoc w apce otwórz
<a href="https://www.railstutorial.org/book">tę</a>
stronę.
</p>
