<% provide(:title, "Help") %>

<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<h1> Pomoc </h1>
<p>
Po ogólną pomoc otwórz
<a href="https://www.railstutorial.org/help">tą</a>
stronę.
Po pomoc w apce otwórz
<a href="https://www.railstutorial.org/book">tą</a>
stronę.
</p>
