<h1>Resetowanie hasła</h1>

<p>Aby zresetować hasło kliknij w link poniżej.</p>

<%= link_to "Resetowanie hasła", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Link wygaśnie w ciągu dwóch godzin.</p>

<p>
Jeśli to nie Ty próbowałeś zmienić hasło - zignowuj maila. Pozostanie takie, jakie było.
</p>
